*{
	margin: 0px;
	padding: 0px;
}
#main {
	display: flex;
	justify-content: center;
}
#newsfeed{
	margin-right: 2px;
	float: left;
	width: 30%;
	height: 600px;
	background: rgba(229, 222, 222, 0.4);
}
#constructor{
	margin-left: 2px; 
	float: right;
	width: 30%;
	height: 600px;
	background: rgba(229, 222, 222, 0.4);
}
#constructor *{
	float: left;
	padding-bottom: 5px; 
	clear: both;
	margin-left: 5px;
	margin-bottom: 10px; 
}
#constructor__answer{

}
h3{
	padding: 5px;
}
body{
	font-family: 'Poppins', sans-serif;
	background: rgba(210,255,82,1);
background: -moz-linear-gradient(45deg, rgba(210,255,82,1) 5%, rgba(210,255,82,1) 31%, rgba(192,220,122,1) 49%, rgba(165,169,179,1) 75%);
background: -webkit-gradient(left bottom, right top, color-stop(5%, rgba(210,255,82,1)), color-stop(31%, rgba(210,255,82,1)), color-stop(49%, rgba(192,220,122,1)), color-stop(75%, rgba(165,169,179,1)));
background: -webkit-linear-gradient(45deg, rgba(210,255,82,1) 5%, rgba(210,255,82,1) 31%, rgba(192,220,122,1) 49%, rgba(165,169,179,1) 75%);
background: -o-linear-gradient(45deg, rgba(210,255,82,1) 5%, rgba(210,255,82,1) 31%, rgba(192,220,122,1) 49%, rgba(165,169,179,1) 75%);
background: -ms-linear-gradient(45deg, rgba(210,255,82,1) 5%, rgba(210,255,82,1) 31%, rgba(192,220,122,1) 49%, rgba(165,169,179,1) 75%);
background: linear-gradient(45deg, rgba(210,255,82,1) 5%, rgba(210,255,82,1) 31%, rgba(192,220,122,1) 49%, rgba(165,169,179,1) 75%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#a5a9b3', GradientType=1 );
}
